<h1>Hi Hotel</h1>
<!-- <hinv-rooms></hinv-rooms> -->

<!-- <hinv-container> -->
<!-- <hinv-rooms></hinv-rooms> -->
<!-- <hinv-employee></hinv-employee> -->
    <!-- <h1>this is from ng content</h1> -->
<!-- </hinv-container> -->

<!-- <div> -->
    <!-- <ng-template #user></ng-template> -->
<!-- </div> -->

<div #name></div> 

<!-- <a [href]="'rooms'"> Rooms </a> -->
<!-- <a [href]="'employee'"> Employee </a> -->
<!-- <a [routerLink]="'rooms'"> Rooms </a> -->
<!-- <a [routerLink]="'employee'"> Employee </a> -->
<hinv-app-nav></hinv-app-nav>

<!-- <router-outlet></router-outlet> -->